{% extends "public_base.html" %}
{% block title %}Sign up | {{ site_title }}{% endblock %}
{% block content %}
<div id="content-main">
  <h1>Too many registrations</h1>
  <p>
    A large number of accounts have been created from your network recently, so registration
    has been paused for a short while. Please try again later.
  </p>
  <p>
    If you are running a course or workshop where many people need accounts at once, contact
    an administrator - this limit can be lifted for your network.
  </p>
</div>
{% endblock %}
