{% extends "admin/base_site.html" %}
{% load i18n admin_urls static admin_list %}


{% block content %}

<div>
<img src="{{ plot_url }}" />
</div>

<style>

    tr.nowr {
        background: #ddd;
    }
    tr.wr {
        background: #fff;
    }
</style>

<table>
<thead>
    <tr>
        <th>date</th>
        <th>weight</th>
        <th>weight ref</th>
        <th>weight exp</th>
        <th>weight pct</th>
        <th>weight min</th>
        <th>water reward</th>
        <th>water suppl.</th>
        <th>water tot</th>
        <th>water exp</th>
        <th>water excess</th>
    </tr>
</thead>
<tbody>
{% for obj in object_list %}
    <tr class="{{ obj.is_water_restricted|yesno:'wr,nowr,' }}">
        <td>{{ obj.date | date:"D d M, Y" }}</td>
        <td><strong>{{ obj.weighing_at | floatformat:1 }} {{ obj.weighing_at | yesno:'g,,' }}</strong></td>
        <td>{{ obj.reference_weight | floatformat:1 }} g</td>
        <td>{{ obj.expected_weight | floatformat:1 }} g</td>
        <td>{{ obj.percentage_weight | floatformat:1 }}%</td>
        <td>{{ obj.min_weight | floatformat:1 }} g</td>
        <td>{{ obj.given_water_reward | floatformat:2 }} mL</td>
        <td>{{ obj.given_water_supplement | floatformat:2 }} mL</td>
        <td><strong>{{ obj.given_water_total | floatformat:2 }} mL</strong></td>
        <td>{{ obj.expected_water | floatformat:2 }} mL</td>
        <td>{{ obj.excess_water | floatformat:2 }} mL</td>
    </tr>
{% endfor %}
</tbody>
</table>

{% endblock %}

{% block title %}
{{ title|striptags }}
{% endblock %}
