*.pyc
.DS_Store
*~
*!
alyx-backups
alyx/alyx/settings_secret.py
docs/_build
docs/_templates
*.tsv
bin
experimental
*.asv
all_dumped_anon.json
*.pkl
*.patch
*.sql
*.html.py
*.orig
notes.txt
build
*venv
.idea/*
alyx/alyx_full.sql.gz
