# environment files for deployments
.env*
# all of the iblreports sym links
alyx/data/management/one_django.py
alyx/data/management/commands/*ibl*
alyx/data/management/commands/sync_patcher.py
alyx/ibl_reports
alyx/templates/ibl_reports
# setting files
alyx/alyx/settings_secret.py
alyx/alyx/settings_lab.py
alyx/alyx/settings.py
alyx/static/*/*
scripts/deployment_examples/docker-apache/settings*
# this is a custom lab settings to be provided by the user rebuilding the head docker
deploy/docker/settings_lab-user.py

# package if installed
alyx/alyx.egg-info

# other
*.pyc
.DS_Store
*~
*!
alyx-backups
uploaded
tables
docs/_build
docs/_templates
*.tsv
bin
experimental
*.asv
all_dumped_anon.json
*.pkl
*.patch
*.sql
*.html.py
*.orig
notes.txt
build
*venv
.idea/*
.cache/
alyx/alyx_full.sql.gz
.vscode/

alyx/.idea/

alyx.log

alyx/data/management/commands/create_public_links.py
