# environment files for deployments
deploy/.env*
# other
*.pyc
.DS_Store
*~
*!
alyx-backups
uploaded
tables
docs/_build
docs/_templates
*.tsv
bin
experimental
*.asv
all_dumped_anon.json
*.pkl
*.patch
*.sql
*.html.py
*.orig
notes.txt
build
*venv
.idea/*
.cache/
alyx/alyx_full.sql.gz
.vscode/
alyx/data/management/commands/*ibl*
alyx/ibl_reports
alyx/templates/ibl_reports
alyx/alyx/settings_secret.py
alyx/alyx/settings_lab.py
alyx/alyx/settings.py
alyx/static/*/*
scripts/deployment_examples/docker-apache/settings*

alyx/.idea/

alyx.log
