asgiref==3.7.2
backports.zoneinfo==0.2.1
boto3==1.28.78
botocore==1.31.78
certifi==2023.7.22
cffi==1.16.0
charset-normalizer==3.3.2
click==8.1.7
colorlog==6.7.0
contourpy==1.1.1
coreapi==2.3.3
coreschema==0.0.4
coverage==6.5.0
coveralls==3.3.1
cryptography==41.0.6
cycler==0.12.1
Django==4.2.7
django-admin-list-filter-dropdown==1.0.3
django-admin-rangefilter==0.11.2
django-autocomplete-light==3.9.7
django-cleanup==8.0.0
django-filter==21.1
django-ipware==5.0.2
django-js-asset==2.1.0
django-mptt==0.14.0
django-polymorphic==3.1.0
django-reversion==5.0.6
django-storages==1.14.2
django-structlog==6.0.0
django-test-without-migrations==0.6
djangorestframework==3.14.0
docopt==0.6.2
docutils==0.20.1
drfdocs==0.0.11
flake8==6.1.0
fonttools==4.44.0
globus-cli==3.18.0
globus-sdk==3.28.0
iblutil==1.7.1
idna==3.4
importlib-metadata==6.8.0
importlib-resources==6.1.0
itypes==1.2.0
Jinja2==3.1.2
jmespath==1.0.1
kiwisolver==1.4.5
llvmlite==0.41.1
lxml==4.9.3
Markdown==3.5.1
MarkupSafe==2.1.3
matplotlib==3.7.3
mccabe==0.7.0
numba==0.58.1
numpy==1.24.4
ONE-api==2.5.0
packaging==23.2
pandas==2.0.3
Pillow==10.1.0
psycopg2-binary==2.9.9
pyarrow==14.0.0
pycodestyle==2.11.1
pycparser==2.21
pyflakes==3.1.0
PyJWT==2.8.0
pyparsing==3.1.1
python-dateutil==2.8.2
python-magic==0.4.27
pytz==2023.3.post1
PyYAML==6.0.1
requests==2.31.0
s3transfer==0.7.0
six==1.16.0
sqlparse==0.4.4
structlog==23.2.0
tqdm==4.66.1
typing_extensions==4.8.0
tzdata==2023.3
uritemplate==4.1.1
urllib3==1.26.18
webdavclient3==3.14.6
zipp==3.17.0
