django==1.11
coreapi
psycopg2
django-polymorphic
djangorestframework
django-autocomplete-light
django-filter
django-reversion
django-test-without-migrations
rangefilter
flake8
colorlog
git+http://github.com/mrts/django-admin-list-filter-dropdown.git
git+https://github.com/burnash/gspread.git
git+https://github.com/google/oauth2client.git
markdown
matplotlib
python-dateutil
pytz
