asgiref==3.6.0
backports.zoneinfo==0.2.1
boto3==1.26.56
botocore==1.29.56
certifi==2022.12.7
cffi==1.15.1
charset-normalizer==3.0.1
click==8.1.3
colorlog==6.7.0
contourpy==1.0.7
coreapi==2.3.3
coreschema==0.0.4
coverage==6.5.0
coveralls==3.3.1
cryptography==39.0.1
cycler==0.11.0
Django==4.1.5
django-admin-list-filter-dropdown==1.0.3
django-admin-rangefilter==0.9.0
django-autocomplete-light==3.9.4
django-cleanup==6.0.0
django-filter==21.1
django-ipware==4.0.2
django-js-asset==2.0.0
django-mptt==0.14.0
django-polymorphic==3.1.0
django-reversion==5.0.4
django-storages==1.13.2
django-structlog==4.0.1
django-test-without-migrations==0.6
djangorestframework==3.14.0
docopt==0.6.2
docutils==0.19
drfdocs==0.0.11
flake8==6.0.0
fonttools==4.38.0
globus-cli==3.10.1
globus-sdk==3.15.0
iblutil==1.5.0
idna==3.4
importlib-metadata==6.0.0
itypes==1.2.0
Jinja2==3.1.2
jmespath==1.0.1
kiwisolver==1.4.4
llvmlite==0.39.1
lxml==4.9.2
Markdown==3.4.1
MarkupSafe==2.1.2
matplotlib==3.6.3
mccabe==0.7.0
numba==0.56.4
numpy==1.23.5
ONE-api==1.19.0
packaging==23.0
pandas==1.5.3
Pillow==9.4.0
psycopg2-binary==2.9.5
pyarrow==10.0.1
pycodestyle==2.10.0
pycparser==2.21
pyflakes==3.0.1
PyJWT==2.6.0
pyparsing==3.0.9
python-dateutil==2.8.2
python-magic==0.4.27
pytz==2022.7.1
PyYAML==6.0
requests==2.28.2
s3transfer==0.6.0
six==1.16.0
sqlparse==0.4.3
structlog==22.3.0
tqdm==4.64.1
typing_extensions==4.4.0
uritemplate==4.1.1
urllib3==1.26.14
webdavclient3==3.14.6
zipp==3.11.0
