asgiref==3.8.1
backports.zoneinfo==0.2.1
boto3==1.34.98
botocore==1.34.98
certifi==2024.2.2
cffi==1.16.0
charset-normalizer==3.3.2
click==8.1.7
colorlog==6.8.2
contourpy==1.1.1
coreapi==2.3.3
coreschema==0.0.4
coverage==7.4.4
coveralls==4.0.0
cryptography==42.0.6
cycler==0.12.1
Django==4.2.11
django-admin-list-filter-dropdown==1.0.3
django-admin-rangefilter==0.12.4
django-autocomplete-light==3.11.0
django-cleanup==8.1.0
django-filter==24.2
django-ipware==7.0.1
django-js-asset==2.2.0
django-mptt==0.14.0
django-polymorphic==3.1.0
django-reversion==5.0.12
django-storages==1.14.3
django-structlog==8.0.0
django-test-without-migrations==0.6
djangorestframework==3.15.1
docopt==0.6.2
docutils==0.20.1
drfdocs==0.0.11
flake8==7.0.0
fonttools==4.51.0
globus-cli==3.28.2
globus-sdk==3.41.0
iblutil==1.8.0
idna==3.7
importlib_metadata==7.1.0
importlib_resources==6.4.0
itypes==1.2.0
Jinja2==3.1.4
jmespath==1.0.1
kiwisolver==1.4.5
llvmlite==0.41.1
lxml==5.2.1
Markdown==3.6
MarkupSafe==2.1.5
matplotlib==3.7.5
mccabe==0.7.0
numba==0.58.1
numpy==1.24.4
ONE-api==2.7.0
packaging==24.0
pandas==2.0.3
pillow==10.3.0
psycopg2-binary==2.9.9
pyarrow==16.0.0
pycodestyle==2.11.1
pycparser==2.22
pyflakes==3.2.0
PyJWT==2.8.0
pyparsing==3.1.2
python-dateutil==2.9.0.post0
python-ipware==3.0.0
python-magic==0.4.27
pytz==2024.1
PyYAML==6.0.1
requests==2.31.0
s3transfer==0.10.1
six==1.16.0
sqlparse==0.5.0
structlog==24.1.0
tomli==2.0.1
tqdm==4.66.4
typing_extensions==4.11.0
tzdata==2024.1
uritemplate==4.1.1
urllib3==1.26.18
webdavclient3==3.14.6
zipp==3.18.1
