APACHE_SERVER_NAME=test.alyx.internationalbrainlab.org
APACHE_SERVER_ADMIN=webmaster@localhost
APACHE_LOG_DIR=/var/log/apache2
POSTGRES_HOST=alyx_postgres
POSTGRES_DB=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_PORT=5432
POSTGRES_USER=postgres
DJANGO_DEBUG=False
DJANGO_LOG_LEVEL=INFO
DJANGO_SECRET_KEY='create_a_secret_key_here_and_make_sure_you_use_single_quotes'
GLOBUS_CLIENT_ID=525cc543-8ccb-4d11-8036-af332da5eafd
TZ=UTC  # Alyx datetime timezone. See https://en.wikipedia.org/wiki/List_of_tz_database_time_zones
DJANGO_MEDIA_ROOT=~/uploaded
DJANGO_TABLES_ROOT=~/tables
COMPOSE_PROJECT_NAME=alyx-deploy
# DJANGO_MEDIA_ROOT=~/scratch/uploaded  # add if local storage
# DJANGO_TABLES_ROOT=~/scratch/uploaded # add if local storage
# DJANGO_MEDIA_S3=https://alyx-uploaded.s3.eu-west-2.amazonaws.com/uploaded/  # add if s3 (overrides local media)
# DJANGO_TABLES_S3=https://ibl-brain-wide-map-public.s3.amazonaws.com/caches/alyx  # add if s3 (overrides local tables)
# APACHE_MEM_LIMIT=1500m  # cap apache container memory (defaults to 1500m if unset)