
# alyx-docker .env
# ================
#
# required:
#
#   ALYX_DB_USER: database user for alyx
#   ALYX_DB_HOST: database host for alyx (from docker-compose 'db' service name)
#   ALYX_DB_PASSWORD: alyx 'admin'/db 'postgres' user password

ALYX_DB_USER=postgres
ALYX_DB_HOST=db
ALYX_DB_PASSWORD=postgres

