{% extends "admin/base.html" %}
{% load i18n admin_urls static admin_list %}

{% block userlinks %}
    go to
    {# Lab members only, so a public account is not shown a link that 403s. #}
    {% if IS_LAB_MEMBER %}<a href="/admin-tasks/status">tasks</a> / {% endif %}
    <a href="/me">api token</a> /
    <a href="/docs">rest documentation</a> /
    {{ block.super }} /
    <a href="https://github.com/cortex-lab/alyx/issues">{% trans 'Report a problem' %}</a>
{% endblock %}

{% block extrastyle %}{{ block.super }}
<!-- CHANGE HEADER COLOR ON LOCALHOST -->
{% if "localhost" in request.META.HTTP_HOST %}
<style>
div#header {
    background-color: #403738;
}
div.breadcrumbs {
    background-color: #94858b;
}
</style>
{% endif %}
<!-- CHANGE HEADER COLOR ON ALYX-DEV -->
{% if "dev" in request.META.HTTP_HOST %}
<style>
div#header {
background-color: #E46A60;
}
div.breadcrumbs {
background-color: #FF9D95;
}
</style>
{% endif %}
<!-- DEPLOYMENT THEME: ADMIN_THEME setting / environment variable -->
{% if ADMIN_THEME %}
<style>
:root, html[data-theme="light"] {
{% for name, value in ADMIN_THEME.items %}    {{ name }}: {{ value }};
{% endfor %}}
</style>
{% endif %}
{% endblock %}

{% block extrahead %}
    <script type="text/javascript" src="/static/admin/js/vendor/jquery/jquery.js"></script>
{% endblock %}
