{% extends "admin/change_form.html" %}
{% load static %}

{% block admin_change_form_document_ready %}
{{ block.super }}

<style>
form#subject_form div.form-row.field-sex label,
form#subject_form div.form-row.field-birth_date label,
form#subject_form div.form-row.field-labs label,
form#subject_form div.form-row.field-projects label,
form#subject_form div.form-row.field-cage label,
form#subject_form div.form-row.field-ear_mark label,
form#subject_form div.form-row.field-strain label,
form#subject_form div.form-row.field-source label
{
    color: red;
}
</style>

<script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>

<script>
$(document).keydown(function(e) {
    switch(e.which) {
        case 38: // up
        var cell = $(':focus').closest('td');
        var cls = cell.attr('class');
        var row = cell.closest('tr').prev().find('.' + cls).find('input').focus();
        break;

        case 40: // down
        var cell = $(':focus').closest('td');
        var cls = cell.attr('class');
        var row = cell.closest('tr').next().find('.' + cls).find('input').focus();
        break;

        default: return;
    }
    e.preventDefault();
});


function getShownFieldsets() {
    return $("fieldset > h2 > a.collapse-toggle:not(:contains(S))").map(
        function () { return this.id; }).get();
}


function getFieldsetCookieName() {
    var url = window.location.pathname;
    url = url.replace(/[0-9a-f]{8}-[0-9a-f]{4}-[1-5][0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}\//i, "")
    return "shownFieldsets_" + url;
};


$(window).bind('beforeunload', function(){
    var fieldsetsIds = getShownFieldsets();
    Cookies.set(getFieldsetCookieName(), fieldsetsIds);
});


$(window).on("load", function() {
    $(":input").attr("autocomplete", "off");

    var fieldsetsIds = Cookies.getJSON(getFieldsetCookieName());
    if (!fieldsetsIds) { return; }
    for (let id of fieldsetsIds) {
        $("#" + id).parent().parent().removeClass("collapsed");
    }
});



// Narrative templates
$(window).on("load", function() {
    var templates = JSON.parse(atob("{{ narrative_templates }}"));
    $("select[name='procedures']").on("change", function (e) {
       // Do nothing if the narrative is already filled.
       if ($("textarea[name='narrative']").val()) { return; }
       // Get the selected procedures.
       var selectedText = $("select[name='procedures'] option:selected").text();
       for (const [key, value] of Object.entries(templates)) {
            if (selectedText.includes(key)) {
                $("textarea[name='narrative']").val(value);
                break;
            }
       }
    })
});


// HACK: date widget in local timezone.
(function($){
  $(function(){
    document.body.setAttribute("data-admin-utc-offset", (new Date()).getTimezoneOffset() * -60);
  })
})(jQuery)

</script>

{% endblock %}
