{% extends "admin/login.html" %}
{# Adds registration and single sign-on links to the admin login page. Hooks the footer block #}
{# rather than overriding content, which would mean copying Django's login form markup and #}
{# having it drift out of step on the next upgrade. #}

{% block footer %}
{{ block.super }}
{% if SSO_ENABLED %}
<div class="sso-link" style="text-align: center; padding: 1em 1em 0;">
  <a href="{{ SSO_LOGIN_URL }}">Sign in with {{ SSO_PROVIDER_NAME }}</a>
</div>
{% endif %}
{% if PUBLIC_DATABASE %}
<div class="signup-link" style="text-align: center; padding: 1em;">
  Don't have an account? <a href="{% url 'signup' %}">Sign up</a> for access to the public data.
</div>
{% endif %}
{% endblock %}
